#profile-card {
	background-color: hsla(60, 100%, 50%, 0.4);
}
#profile-card {
	width: 480px;
	max-width: calc(100vw - 10px);
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
#head,
#links,
#content {
	text-align: center;
	width: 90%;
	margin: 0 auto;
}
img {
	border-radius: 50%;
	width: 120px;
	height: 120px;
}
#profile-image {
	margin-top: -60px;
}
ul {
	list-style: none;
	align-content: center;
}
li {
	display: inline;
}
#head,
#about {
	margin-bottom: 10%;
}

#content {
	padding: 5%;
	max-width: 90%;
}
body {
	background: url(assets/background.jpg) no-repeat center center fixed;
	background-size: cover;
}
#profile-card {
	background-color: hsla(0, 0%, 100%, 0.5);
	border-radius: 4px;
	box-shadow: hsla(0, 0%, 0%, 0.8) 10px 10px 80px;
}
img {
	padding: 1px;
	background-color: #666;
}
#content {
	border-top: 1px solid hsla(0, 0%, 30%, 0.8);
}
img:hover {
	transform: scale(1.1);
	transition: all 0.5s ease-in-out;
}
img {
	filter: grayscale(50%);
}

img:hover {
	filter: grayscale(20%);
}
